[Desktop Entry]
Type=Application
Version=1.0
Name=Redshift
GenericName=Color temperature adjustment
Comment=Color temperature adjustment tool
Path=/usr/bin
Exec=redshift
Icon=redshift
Terminal=false
Categories=Utility;
NoDisplay=true
RunHook=0

